<h2><%= @question.content %></h2>
<br>
<%= link_to "Answer Question", new_question_answer_path(@question), class: "btn btn-default", id: "new-link", remote: true %>

<br>
<h3>Answers:</h3>
<br>
<div id="answers_list">
  <%= render @answers %>
</div>
